
<!--<div class="col-md-8 col-md-offset-2">
    <div data-autoplay="3000"
         fotorama item="fotoArray"
         class="fotorama"
         data-loop="true"
         data-allowfullscreen="false"
         data-nav="false"
         data-arrows="true"
         data-width="100%"
         data-transition="slide"
         data-clicktransition="crossfade">
    </div>
</div>-->
<div class="jumbotron">
    <h1>Welcome to VShapeUp 2.0!</h1>
    <p>ยินดีต้อนรับเข้าสู่ VShapeUp 2.0 ระบบช่วยจัดการผล Body Composition ของงาน V2Gether OPP</p>
    
</div>



